
.github
.husky
.vscode
.claude
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
lib
src
!src/webviews/dist
scripts
test
commitlint.config.js
eslint.config.mjs
vitest.config.ts
.gitignore
.gitsigners
tsconfig.*
**/tsconfig.*
